@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
:root{
    --primary-dark : #79a6d3;
    --primary-purple : rgb(125, 19, 247);

}
body{
    padding-top: 4rem;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-dark);
    color: var(--primary-purple);
    background-image:url(/images/photo1.jpg);
    background-repeat: repeat-y ;
    background-size: 215vh 47vw;
    margin: 0;
}
h1{
    text-align: center;
}
.space{
    padding: 3rem;
}
.container{
    width: 50%;
    margin: auto;
}
label,input{
    display: block;

}
label{
    padding: 1.5rem;
    font-weight: bold;
    text-align: center;
}


input{
    /* margin-bottom: 1rem; */
    width: 60%;
    text-align: center;
    margin: auto;
    padding: 0.3rem;
    border-color: var(--primary-purple);
}
#check-button{
    display: block;
    margin-top: 4rem;
    margin: auto;
    background: transparent;
    color: var(--primary-purple);
    border-color: var(--primary-purple);
    border-radius: 0.3rem; 
     border-width : medium;
    padding: 0.5rem;
}

#output-box{
    text-align: center;
    padding: 2rem; 
    font-size: large;
    font-weight: bolder;
}